.navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 20px 100px 0px 100px;
}

.navbarRight {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logout {
    cursor: pointer;
    color: #8f8f8f;
    text-decoration: underline;
}

.logout:hover {
    opacity: .9;
}