.page {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto;
}

.card {
    height: fit-content;
    width: 350px;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    padding: 10px;
}

.textArea {
    padding: 10px;
    max-height: 360px;
    overflow-y: none;
}

.imgInput {
    padding-top: 2px;
    padding-left: 10px;
}

.radioItem {
    display: flex;
    flex-direction: row;
}

.button {
    margin-top: 10px;
}

.footer {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    gap: 10px;
}

.footer a {
    color: #007bff;
    text-decoration: underline;
}