.dashboard {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.headerText {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.noEventsText {
    margin-top: 10px;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
  
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}